In [1]:
import numpy as np
import pandas as pd
#386p 교제

In [5]:
df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
                  'key2' : ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.459036  0.431193
1    a  two -0.358146  1.072815
2    b  one -0.828246  1.176573
3    b  two  1.221916  1.920328
4    a  one  0.452200 -0.118988

In [6]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [7]:
grouped.mean()

key1
a    0.184363
b    0.196835
Name: data1, dtype: float64

In [10]:
states = np.array(['ohio','California','California','Ohio','Ohio'])

In [9]:
years = np.array([2005,2005,2006,2005,2006])

In [ ]:
df