In [1]:
import pandas as pd
import numpy as np

In [3]:
#412p
suit = ['H','S','C','D']
card_val = (list(range(1,11))+ [10]*3)*4
base_names = ['A'] + list(range(2,11)) + ['J','K','Q']
cards = []
for suit in ['H','S','C','D']:
    cards.extend(str(num)+ suit for num in base_names)
deck = pd.Series(card_val, index = cards)

In [5]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [7]:
def draw(deck, n=5):
    return deck.sample(n)

In [8]:
draw(deck)

10S    10
QC     10
6C      6
JD     10
AS      1
dtype: int64

In [10]:
get_suit = lambda card : card[-1]

In [11]:
deck.groupby(get_suit).apply(draw, n=2)

C  7C     7
   3C     3
D  2D     2
   8D     8
H  8H     8
   KH    10
S  2S     2
   KS    10
dtype: int64

In [12]:
deck.groupby(get_suit, group_keys =False).apply(draw, n=2)

9C      9
6C      6
3D      3
10D    10
4H      4
JH     10
3S      3
8S      8
dtype: int64

In [13]:
close_px = pd.read_csv('stock_px_2.csv', parse_dates=True,
                      index_col =0)
close_px.info()
close_px[-4:]#마지막에 4개

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
AAPL    2214 non-null float64
MSFT    2214 non-null float64
XOM     2214 non-null float64
SPX     2214 non-null float64
dtypes: float64(4)
memory usage: 86.5 KB

              AAPL   MSFT    XOM      SPX
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [14]:
spx_corr = lambda x: x.corrwith(x['SPX'])

In [15]:
rets = close_px.pct_change().dropna()

In [16]:
get_year = lambda x: x.year

In [17]:
by_year = rets.groupby(get_year)

In [18]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0