In [110]:
import pandas as pd

df = pd.read_csv(r"C:\Users\kuazh\Downloads\seoul.csv", encoding='euc-kr')
#df = df.reset_index()
#df.head()

p= df[df['최고기온(℃)']==df['최고기온(℃)'].max()]
p

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
31277  1994-07-24  108     33.1     28.1     38.4

In [111]:
p['날짜']

31277    1994-07-24
Name: 날짜, dtype: object

In [112]:
p['최고기온(℃)']

31277    38.4
Name: 최고기온(℃), dtype: float64