In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
#교과서 329p

df1 = pd.DataFrame(np.arange(6).reshape(3,2), index=['a','b','c'],
                  columns =['one','two'])

In [8]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [12]:
df2 = pd.DataFrame(np.arange(4).reshape(2,2), index=['a','c'],
                  columns =['three','four'])

In [13]:
df2

   three  four
a      0     1
c      2     3

In [15]:
pd.concat([df1,df2],axis=1,keys=['level1','level2'],
         names=['upper','lower'])

C:\Users\kuazh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

upper level1     level2
lower    one two  three four
a          0   1    0.0  1.0
b          2   3    NaN  NaN
c          4   5    2.0  3.0

df1 = pd.DataFrame(np.random.randn(3,4), columns =['a','b','c','d'])
df1

In [21]:
df2 = pd.DataFrame(np.random.randn(2,3), columns =['b',d','a'])

SyntaxError: invalid syntax (<ipython-input-21-7aba0e5021d6>, line 1)